@{
    ViewBag.Title = "Lookup List";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
@section Title { Lookup List }

@Html.Partial("_Kendo")

<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-body">
                @(Html.Kendo().Grid<LookupVM>()
                .Name("grid")
                .HtmlAttributes( new { @class = "tbl-grid"})
                .DataSource(dataSource => dataSource //Configure the Grid data source.
                    .Ajax() //Specify that Ajax binding is used.
                    .Read(read => read.Action("LookupList_Read", "Lookup"))
                    .Events(events => events.Error("error_handler"))
                )
                .Columns(columns =>
                {
                    columns.Bound(v => v.Name);
                    columns.Bound(v => v.Type);
                    columns.Bound(v => v.LastUpdAt).Title("Last Updated").Format("{0:dd/MM/yyyy HH:mm}");
                    columns.Bound("").Filterable(false).Sortable(false).Width(200).ClientTemplate(
                        " <a class='btn btn-sm btn-primary btn-flat' href='" + @Url.Action("Edit", "Lookup") + "/#= Id #'><i class='fa fa-pencil'></i> Edit</a>"
                    ).HtmlAttributes(new { @class = "text-right" });
                })
                .Scrollable(scroll => scroll.Enabled(true).Height("auto"))
                .Resizable(resize => resize.Columns(true))
                .Pageable() // Enable paging
                .Sortable() // Enable sorting
                .Filterable(f => f.Extra(true)
                    .Operators(o => o.ForString(s => s.Clear()
                        .Contains("Contains")
                        .DoesNotContain("Does not contain")
                        .IsEqualTo("Is equal to")
                        .IsNotEqualTo("Is not equal to")
                        .StartsWith("Starts with")
                        .EndsWith("Ends with ")
                    ))
                )
                )

            </div>
        </div>
    </div>
</div>